# Node
node_modules/

# Next.js
.next/
out/
.build/

# Production
/dist

# Env files
.env
.env.*
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Vercel
.vercel/

# Prisma
.prisma/

# Types
*.tsbuildinfo

# Misc
coverage/
